
<div class="container">
  <br>
  <br>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>number</th>
        <th>Student Name</th>
        <th>Student ID</th>
        <th>Report</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Ahmed Mohamed</td>
        <td>123456781</td>
        <td><a href="#">view</a></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Ahmed Ali</td>
        <td>126546781</td>
        <td><a href="#">view</a></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Mazen Mohamed</td>
        <td>123546781</td>
        <td><a href="#">view</a></td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Said Mohamed</td>
        <td>123435481</td>
        <td><a href="#">view</a></td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

