<div class="container">
    <div class="callout callout-info b-t-1 b-r-1 b-b-1 p-y-q">
        <small class="text-muted">Reviews: </small><br>
        <strong class="h4">4</strong>
    </div>
    <div class="card">
        <div class="card-body">
            Dear Doctor:<br>
            I understand very well form you thanks alot
            <br>
            <a href ="/#Educator/abuse.html" target="_blank" class="pull-right">report abuse</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            Dear Doctor:<br>
            you should update your course
            <br>
            <a href ="/#Educator/abuse.html" target="_blank" class="pull-right">report abuse</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            Dear Doctor:<br>
            I HATE YOU
            <br>
            <a href ="/#Educator/abuse.html" target="_blank" class="pull-right">report abuse</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            Dear Doctor:<br>
            you speak really fast can you slow down? we aren't in a rush
            <br>
            <a href ="/#Educator/abuse.html" target="_blank" class="pull-right">report abuse</a>
        </div>
    </div>
</div>